@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  margin: 0;
}

body {
 background: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  height: 100vh;
  background: #fff;
  max-width: 375px;
}

#header {
  background: linear-gradient(262deg, #ff7854, #fd267d);
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 75px;
  padding: 30px 0px;
  font-size: 45px;
  font-family: Roboto;
  margin: 0;
  box-shadow: 0 4px 7px -3px grey;
}

h3 {
  display: flex;
  font-family: 'Roboto';
  margin-top: 40px;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 10px;
}

.dynamic-components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play-button {
  display: flex;
  height: 70px;
  width: 160px;
  background: linear-gradient(45deg, #ff7854, #ed4c76);
  border-radius: 10px;
  color: white;
  font-size: 32px;
  border: 3px solid white;
  box-shadow: 1px 2px 6px grey;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

#play-button:hover {
  background: #fff;
  border: 3px solid #ff0073;
  color: #ff0073;
}

#play-again {
  display: flex;
  height: 70px;
  width: 215px;
  background: linear-gradient(45deg, #ff7854, #ed4c76);
  border-radius: 10px;
  color: white;
  font-size: 32px;
  border: 3px solid white;
  box-shadow: 1px 2px 6px grey;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

#play-again:hover {
  background: #fff;
  border: 3px solid #ff0073;
  color: #ff0073;
}

#timer {
  font-size: 55px;
  font-family: Roboto;
  color: #ed4b72;
  text-shadow: 1px 1px 3px grey;
}

#timer span {
  font-size: 30px;
}

.like-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  color: black;
  margin-bottom: 20px;
}

.like-results span {
  color: #ef6a57;
}

.container-right {
  display: flex;
  flex: 4;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background: #ec4c78;
  border-left: 2px solid #b50143;
}

.right-components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px ;
  margin-bottom: 25px;
}

.card > img {
  height: 450px;
  width: 450px;
  box-shadow: 0px 19px 53px 0px rgba(0, 0, 0, 0.4);
  background: pink;
  border-radius: 10px;
}

.cat-info {
  color: #fff;
  font-family: Roboto;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(180deg, #00000000, #000000);
}

.cat-info h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.cat-info p {
  padding-bottom: 10px;
  padding-left: 10px;
}

.like-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

#like {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(#ff7854, #fd267d);
  font-size: 33px;
  color: #ff99db;
  border: 2px solid #fbc9d5ed;
  box-shadow: 0px 1px 8px 0px #000;
  margin: 10px;
}

#like:hover {
  background: #ffd7de;
  color: #f7010c;
  border: 2px solid #ff7854;
}

#dislike {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(#ff7854, #fd267d);
  font-size: 33px;
  color: #5d86fb;
  border: 2px solid #fbc9d5ed;
  box-shadow: 0px 1px 8px 0px #000;
  margin: 10px;
}

#dislike:hover {
  background: #e7eaff;
  color: #0948f9;
  border: 2px solid #ff7854;
}

#skip {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(#ff7854, #fd267d);
  font-size: 33px;
  color: #b8ffbb;
  border: 2px solid #fbc9d5ed;
  box-shadow: 0px 1px 8px 0px #000;
  margin: 10px;
}

#skip:hover {
  background: #e9ffd9;
  color: #73ff79;
  border: 2px solid #ff7854;
}

@media only screen and (max-device-width : 300px) {
  .container {
    display: block;
    height: 100vh;
  }

  .card > img {
    height: 260px;
    width: 260px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    display: block;
    height: 100vh;
  }

  .container-left {
    height: 110vh;
  }

  .card > img {
    height: 335px;
    width: 335px;
  }
}

@media only screen and (min-width : 321px) {
  .container-left {
    max-width: 100%;
  }
}

@media only screen and (max-width : 320px) {
  .card > img {
    height: 255px;
    width: 255px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .container {
    display: block;
  }

  .container-left{
    height: 65vh;
  }

  #play-button {
    height: 90px;
    width: 212px;
    font-size: 45px;
  }

  #play-again {
    height: 90px;
    width: 278px;
    font-size: 45px;
  }

  #timer {
    font-size: 100px;
  }

  .like-results {
     font-size: 28px;
  }

}

@media only screen and (min-width : 540px) and (max-height : 720px) {
  .container-right {
    height: 114vh;
  }

  .like-results h2 {
    align-items: center;
  }
}
